EXPO_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
EXPO_PUBLIC_GOOGLE_CLIENT_ID=tu-google-client-id.googleusercontent.com

# TO TYPEGEN-POCKETBASE
PB_TYPEGEN_URL=${EXPO_PUBLIC_POCKETBASE_URL}
PB_TYPEGEN_EMAIL=admin@domain.com
PB_TYPEGEN_PASSWORD=123admin